@mixin rotate(){
    
    @each $label, $map in $positions {

        .#{$label}{

            animation-name: #{$label}-rotate-anim;
            @media (min-width:700px) and (max-width:899px){
                animation-name: #{$label}-rotate-anim-large;
            }
            @media (min-width:900px){
                animation-name: #{$label}-rotate-anim-xLarge;
            }
            @media (min-height: 600px) and (max-height: 699px){
                animation-name: #{$label}-rotate-anim-med;
            }
            @media (min-height:700px){
                animation-name: #{$label}-rotate-anim-xLarge;
            }

        }
    
    }
    
}

@each $label, $map in $positions {
    
    $size-start : map-get($map, start-size);
    $size-mid : map-get($map, mid-size);
    $size-clear : 0;
    $rotate-start : map-get($map, start-rotate);
    $rotate-mid : map-get($map, mid-rotate);
    $rotate-end : map-get($map, end-rotate);
    $rotate-clear : map-get($map, clear-rotate);
    $colour : map-get($map, colour);
    
    @keyframes #{$label}-rotate-anim{
        
        0%{
            transform: rotate($rotate-clear - 360deg);
            animation-timing-function: ease-in;
            @include setWidth($size-clear);
        }
        50%{
            transform: rotate($rotate-mid);
            animation-timing-function: ease-out;
            @include setWidth($size-mid);
        }
        100%{
            transform: rotate($rotate-clear);
            @include setWidth($size-clear);
        }
        
    }
    
    @keyframes #{$label}-rotate-anim-lo{
        
        0%{
            transform: rotate($rotate-clear - 360deg);
            animation-timing-function: ease-in;
            @include setWidth($size-clear);
        }
        50%{
            transform: rotate($rotate-mid);
            animation-timing-function: ease-out;
            @include setWidth($size-mid + $loAddSize);
        }
        100%{
            transform: rotate($rotate-clear);
            @include setWidth($size-clear);
        }
        
    }
    
    @keyframes #{$label}-rotate-anim-med{
        
        0%{
            transform: rotate($rotate-clear - 360deg);
            animation-timing-function: ease-in;
            @include setWidth($size-clear);
        }
        50%{
            transform: rotate($rotate-mid);
            animation-timing-function: ease-out;
            @include setWidth($size-mid + $medAddSize);
        }
        100%{
            transform: rotate($rotate-clear);
            @include setWidth($size-clear);
        }
        
    }
    
    @keyframes #{$label}-rotate-anim-large{
        
        0%{
            transform: rotate($rotate-clear - 360deg);
            animation-timing-function: ease-in;
            @include setWidth($size-clear);
        }
        50%{
            transform: rotate($rotate-mid);
            animation-timing-function: ease-out;
            @include setWidth($size-mid + $largeAddSize);
        }
        100%{
            transform: rotate($rotate-clear);
            @include setWidth($size-clear);
        }
        
    }
    
    @keyframes #{$label}-rotate-anim-xLarge{
        
        0%{
            transform: rotate($rotate-clear - 360deg);
            animation-timing-function: ease-in;
            @include setWidth($size-clear);
        }
        50%{
            transform: rotate($rotate-mid);
            animation-timing-function: ease-out;
            @include setWidth($size-mid + $xLargeAddSize);
        }
        100%{
            transform: rotate($rotate-clear);
            @include setWidth($size-clear);
        }
        
    }
    
}